.container.text-center
			ol.breadcrumb
				h5 Code licensed under 
					a(rel='license', href='https://github.com/ZerataX/Misaki/blob/master/LICENSE' target='_blank') MIT
				li
					a(href='/support/help') Help & Info
				li ·
				li
					a(href='/support/tos.htm') Terms of Service
				li ·
				li
					a(href='/support/privacy.htm') Privacy