extends layout

block content
	.jumbotron
		h1= title
		br
		.text-center
			btn.btn-info.btn-lg.fileUpload#uploadField
				input.upload#uploadBtn(type='file', name='files[]', multiple)(ondragenter="dragEnter(event)" ondragleave="dragLeave(event)")
				span#uploadSpn
					i.glyphicon.glyphicon-plus
					|	Select or drop file
			br
			br
			span.label.label-default#uploadFile
		div.row
			output#list
		br
		div.progress
			div.progress-bar.progress-bar-info#uploadbar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
	script.
		function dragEnter(event) {
		document.getElementById("uploadSpn").innerHTML = "<i class='glyphicon glyphicon-plus'></i> drag your file(s) here~";
		document.getElementById("uploadField").className = ("btn-success btn-lg fileUpload");
		}

		function dragLeave(event) {
		document.getElementById("uploadSpn").innerHTML = "<i class='glyphicon glyphicon-plus'></i> Select or drop file(s)";
		document.getElementById("uploadField").className = ("btn-info btn-lg fileUpload");
		}
		document.getElementById("uploadBtn").onchange = function () {
		//---
		};
		function handleFileSelect(evt) {
		var files = evt.target.files; // FileList object

		// Loop through the FileList and render image files as thumbnails.
		for (var i = 0, f; f = files[i]; i++) {
		// Only process image files.
		if (!f.type.match('image.*')) {
		continue;
		}

		var reader = new FileReader();

		// Closure to capture the file information.
		reader.onload = (function(theFile) {
		return function(e) {
		// Render thumbnail.
		var span = document.createElement('span');
		span.innerHTML = ['<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><a class="thumbnail" width="50"><img class="thumb" src="', e.target.result,
		                    '" title="', escape(theFile.name), '"/></a></div>'].join('');
		document.getElementById('list').insertBefore(span, null);
		document.getElementById("uploadFile").innerHTML = document.getElementsByClassName('thumb').length;
		document.getElementById("uploadSpn").innerHTML = "<i class='glyphicon glyphicon-plus'></i> Select or drop file(s)";
		document.getElementById("uploadField").className = ("btn-info btn-lg fileUpload");
		};
		})(f);

		// Read in the image file as a data URL.
		reader.readAsDataURL(f);
		}
		}

		document.getElementById('uploadBtn').addEventListener('change', handleFileSelect, false);