extends layout

block content
	.container-fluid
		ol.breadcrumb
			li
				a(href='/') Home
			li
				a(href='#') Galleries
			li  
				a.active(href='#') Newest  
		.jumbotron
			h1.
				Gallery List
			div.row
				each gallery, i in gallerylist
					div.col-xs-6.col-sm-4.col-md-3.col-lg-2
						a.thumbnail(href="/gallery/#{gallery._id}")
							img.cover(src='/images/djnshiplaceholder.png')