extends layout

block content
	.jumbotron
		h1.
			Gallery List
		
			each gallery, i in gallerylist
				div.col-xs-6.col-sm-4.col-md-3.col-lg-2
					a.thumbnail(href='/gallery/#{gallery._id}')
						img.cover(src='/images/djnshiplaceholder.png')div.row