extends layout

block content
	.jumbotron
		h1=title
			small  moe moe kyun
		blockquote
			p This website is in a very unstable work in progress state
		br
		a(href='http://google.com') www.google.com