extends layout

block content
	.jumbotron
		h1=title
			small  moe moe kyun
		blockquote
			p ''Genius is no more than childhood recaptured at will, childhood equipped now with man's physical means to express itself, and with the analytical mind that enables it to bring order into the sum of experience, involuntarily amassed.''   
			footer Charles Baudelaire   
		p
			a(href='http://google.com') www.google.com
	.jumbotron
		div.row
			div.col-xs-6.col-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='/galleries/placeholder/' alt='sexy gallery')
					img.cover(src='/images/djnshiplaceholder.png')
			div.col-xs-6.col-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='/galleries/placeholder')
					img.cover(src='/images/djnshiplaceholder.png')
			div.col-xs-6.col-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='/galleries/placeholder')
					img.cover(src='/images/djnshiplaceholder.png')
			div.col-xs-6.col-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='/galleries/placeholder')
					img.cover(src='/images/djnshiplaceholder.png')
			div.col-xs-6.col-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='/galleries/placeholder')
					img.cover(src='/images/djnshiplaceholder.png')
			div.col-xs-6.col-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='/galleries/placeholder')
					img.cover(src='/images/djnshiplaceholder.png')
			div.col-xs-6.col-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='/galleries/placeholder' alt='sexy gallery')
					img.cover(src='/images/djnshiplaceholder.png')
			div.col-xs-6.col-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='/galleries/placeholder')
					img.cover(src='/images/djnshiplaceholder.png')
			div.col-xs-6.col-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='/galleries/placeholder')
					img.cover(src='/images/djnshiplaceholder.png')
			div.col-xs-6.col-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='/galleries/placeholder')
					img.cover(src='/images/djnshiplaceholder.png')
			div.col-xs-6.col-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='/galleries/placeholder')
					img.cover(src='/images/djnshiplaceholder.png')
			div.col-xs-6.col-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='/galleries/placeholder')
					img.cover(src='/images/djnshiplaceholder.png')