.navbar.navbar-inverse.navbar-static-top(role='navigation')
	.container
		.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='/')
				img(alt='brand', src='/images/misakibwl.png', height='40px')
		.collapse.navbar-collapse
			ul.nav.navbar-nav
				li.active.dropdown
					a.dropdown-toggle(href='#', data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') Galleries
						span.caret
					ul.dropdown-menu
						li.active
							a(href='/gallery/sort/newest') Newest
						li
							a(href='/gallery/sort/alphabetical') Title
						li.divider(role='seperator')
						li
							a(href='/gallery/sort/hot') Popular
						li
							a(href='/gallery/sort/views') Most watched
						li
							a(href='/gallery/sort/rating') Highest rated
						li.divider(role='seperator')
						li
							a(href='/gallery/contribute/list/pending') Contribute
				li
					a.dropdown-toggle(href='#', data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') Tags
						span.caret
					ul.dropdown-menu
						li
							a(href='/tag/type/all') All
						li
							a(href='/tag/type/artist') Artists
						li
							a(href='/tag/type/circle') Circle
						li
							a(href='/tag/type/parodies') Parodies
						li
							a(href='/tag/type/character') Characters
						li
							a(href='/tag/type/content') Contents
						li
							a(href='/tag/type/scanlator') Scanlators
						li
							a(href='/tag/type/convention') Conventions
						li
							a(href='/tag/type/categorie') Categories
						li
							a(href='/tag/type/collection') Collections
						li
							a(href='/tag/type/uploader') Uploaders
						li.divider(role='seperator')
						li
							a(href='/tag/contribute/list/pending') Contribute
				li
					a.dropdown-toggle(href='#', data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') Account
						span.caret
					ul.dropdown-menu
						li
							a(href='/account/home') Home
						li
							a(href='/account/settings') Settings
						li.divider(role='seperator')
						li
							a(href='/account/favorites') Favorites
						li
							a(href='/account/bookmarks') Bookmarks
						li
							a(href='/account/recommendation') Recommended
						li.divider(role='seperator')
						li.loginBox
							if usermail
								a#logout(href='javascript:navigator.id.logout()') Logout
							else
								form(id='login-form', action='/auth', method='POST')
									input(id='assertion-field', type='hidden', name='assertion', value='')
									input(type='hidden', name='_csrf', value=csrf)
								a#browserid(href='javascript:navigator.id.request()') Sign in
			form.navbar-form.navbar-right(role='search')
				div.input-group
					input.form-control(type='text', placeholder='search')
					span.input-group-btn
						button.btn.btn-default(type='button')
							span.glyphicon.glyphicon-search
include breadcrumb
if usermail
	script.
		var loggedInUser = '#{usermail}';
else
	script.
		var loggedInUser = null;

