extends layout

block content
	.jumbotron
		if usermail
			div.panel.panel-primary
				div.panel-heading
					h3.panel-title= title
				div.panel-body
					form#formAddtag(name="addtag",method="post",action="/tag/contribute/new")
						+input('english', 'English title', 50)
						+input('japanese', 'Japanese title', 50)
						+input('alternative', 'Alternative title', 50)
						+input('related', 'Related gallery', 200)
						.form-group
							label(for='description')= 'Description'
							textarea.form-control(id= 'description', type="text", placeholder='a short description', name='description',maxlength='500')
						.form-group
							label(for='note')= 'Note/Flavor text'
							textarea.form-control(id= 'note', type="text", placeholder='a short note', name='note',maxlength='500')
						.form-group
							label(for='type')= 'Type'
							br
							select.form-control#type(name='type')
								option Artist
								option Circle
								option Parody
								option Character
								option Content
								option Scanlator
								option Convention
								option Category
								option Collection
						.btn-group(role='group', aria-label='Text Submit')
							a.btn.btn-danger#btnSubmit(href='/', role="button") cancel
							button.btn.btn-success#btnSubmit(type="submit") submit
		else
			include signin