body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("http://i.imgur.com/kN357Ed.jpg");
  /* Set a specified height, or the minimum height for the background image */
  min-height: 300px;
  /* Set background image to fixed (don't scroll along with the page) */
  background-attachment: fixed;
  background-position: right bottom;
  /* Set the background image to no repeat */
  background-repeat: no-repeat;
  /* Scale the background image to be as large as possible */
  background-size: 60%;
}

a {
  color: #00B7FF;
}
