body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("https://33.media.tumblr.com/0df179f920ec3e360866037506e41397/tumblr_mxqf1a0pmo1s8eeeeo1_500.gif");
  background-color: #FCFEFC;
  min-height: 300px;
  background-attachment: fixed;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

a {
  color: #00B7FF;
}

