body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("http://cdn01.wallconvert.com/_media/wallpapers_1920x1080/1/2/mei-misaki-another-14360.jpg");
  background-repeat: no-repeat;
  background-position: right top;
}

a {
  color: #00B7FF;
}
